* {
    box-sizing: border-box;
  }
body{

}
img{
    display: block;
    margin: auto;
}
h2{
    font-family: 'Courier New', 'Courier';
    text-align: center;
    text-decoration: underline;
}
a{
    text-decoration: none;
}
.theThings{
    text-align: center;
    font-size: 20px;
}
.theThings a{
    background: rgb(196, 191, 191);
    color: rgb(0,0,0);
    margin: 25px 10px;
    padding: 3px 7px;
    display: inline-block;
}
.theThings a:hover{
    background: rgb(255,255,255);
    color: rgb(0,0,0);
    text-decoration: underline;
}
table{
    text-aligh: center;
}
