* {
    box-sizing: border-box;
  }
body{
    /*text-align: center;*/
    font-family: Helvetica;
}
ul{
    list-style-position: inside;
}
img{
    display: block;
    margin: 0px 0px 5px 0px;
    margin: auto;
}
h1{
    font-family: 'Courier New', 'Courier';
    text-decoration: underline;
    text-align: center;
}
h2{
    font-family: 'Courier New', 'Courier';
    text-align: center;
    text-decoration: underline;
}
a{
    text-decoration: none;
}
#NameComp{
    margin: 0px 0px 5px 0px;
}
.theThings{
    text-align: center;
    font-size: 20px;
    margin: 0px 0px 5px 0px;
}
.theThings a{
    background: rgb(196, 191, 191);
    color: rgb(0,0,0);
    margin: 10px;
    padding: 3px 7px;
    display: inline-block;
    border-radius: 5px;
}
.theThings a:hover{
    background: rgb(255,255,255);
    color: rgb(0,0,0);
    text-decoration: underline;
}
.tableHead{
    text-decoration: underline;
    font-weight: bold;
}
